<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/side.css">
    <script type="text/javascript" src="javascripts/side.js"></script>
    <style type="text/css">
    form {
  position: relative;
}
.padd{
  padding-left: 40px;
}
.pa{
  padding-left: 40px;
  padding-top: 20px;
}
.search__suggestion {
  font: normal normal normal 14px/normal Arial;
  position: absolute;
  left: 482px;
  top: 4px;
  color: #aaa;
  z-index: -1;
}
input {
  font: normal normal normal 14px/normal Arial;
  background: transparent;
}
  </style>
    </head>    
  <body onload="onload()">
    <nav class="navbar sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Chik</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li class="active"><a href="/buy">Sale<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li ><a href="#">Customer<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                <li ><a href="/his">History<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                <li ><a href="/invent">Inventory<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                <li ><a href="/cashreg">Cash Registry<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-info-sign"></span></a></li>
                <li ><a href="/restock">restock<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-send"></span></a></li>
                <li ><a href="/message">Message Admin<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li> 
                <li ><a href="/logout">Log out<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
<div class="row">
    <div class="col col-md-6">
    <h4>Select Customer</h4>
    <form action="/cust" method="post">
    <div class="form-group">
  <select class="form-control" name="custnameselect">
    {{#each cust}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>
</div>
<button type="submit" class="btn btn-sm">Submit</button>
</form>
      <hr>
      <h4>Add Customer</h4>
      <div class="container">

<div class="col-sm-6">
  <form action="/cust" method="post">
    <div class="form-group">
      <h5>Name</h5>
      <input type="text" class="form-control" name="custname">
    </div>
    <div class="form-group">
      <h5>Phone</h5>
      <input type="text" class="form-control" name="phone">
    </div>
    <button type="submit" class="btn btn-sm">Submit</button>
  </form>
</div>

</div>
    </div>
    <div class="well col col-md-6">  
    <h3>Product list</h3>                      
    <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quatity</th>
        <th>Unit price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each var}}
      <tr>
        <td>{{this.serial}}</td>
        <td>{{this.qty}}</td>
        <td>{{this.price}}</td>
        <td>{{this.tot}}</td>
      </tr>
      {{/each}}
      <tr>
        <td>Grand Total</td>
        <td></td>
        <td></td>
        <td>{{tot}}</td>
      </tr>
      </tbody>
      </table>
    </div>
    </div>
  </div>
  </body>
</html>
